
:root {
    --def-transition-duration: .2s;
}

html {
    /* font-size: 16px; */
    font-family: 'Figtree', sans-serif;
    line-height: 1.5;
}

img {
    width: 300px;
    height: 400px;
    display: block;
    object-fit: cover;
    border-radius: 30%;
}

.airpods{
    display: flex;
    flex-direction: column;
    /* border:solid 2px #9E70EB; */
    padding: 5px;
}

.hoz-airpods{
    display: flex;
    /* border:solid 2px saddlebrown; */
    justify-content: center; 
    align-items: center; 
    width: 600px;
    height: 400px;
    gap: 300px;
    padding-right: 300px;
    padding-left: 90px;

}

.airpods .hoz-airpods img{
    /* height: 250px; */
    /* width: 200px; */

}

.airpods .hoz-airpods figure{
    /* height: 250px!important;
    width: 200px!important; */
}


.logo{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.links{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* border: solid 2px yellow; */
    font-size: 18px;
    color: #E5E7EB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:700px;
}

.top-links{
    color: whitesmoke;
}

.heading{
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1F2937; 
}

.header{
    display: flex;
    justify-content: space-between;
    background-color:  #151618;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.hero{
    background-color: #151618;
	height: 50vh;
	padding-top: 3rem;
}

.subheader{
    display: flex;
    gap:200px;
    height: 700px;
    padding: 20px;
    padding-left: 60px;
    /* border: solid 2px yellowgreen; */
    padding-top: 5px;
}

.subtext{
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.subheader{
    background-color:#ffffff;
}

.placeholder{
    background-color: lightslategray;
    height: 230px;
    width: 500px;
    padding-top: 10px;
}

.styled-image {
    margin-top: 60px;
    width: 550px;           
    height: 350px;           
    border-radius: 30px;    
}

.blue-box{
    border: solid #3882F6 4px;
    border-radius: 10px;
    height: 150px;
    width: 150px;

}

.information{
    display:flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 400px;
    padding-top: 15px;
}

.box-text{
    display: flex;
    justify-content: space-between;
    gap: 300px;
}

.text{
    text-align: center;
    width: 150px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightslategrey;
}

body{
    margin: 0%;
}

.quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 20px;
    height: 300px;
}

.subquote{
    font-weight: bold;
    padding-left: 630px;
    font-family: Arial, Helvetica, sans-serif;
}

.call-to-action{
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    height: 80px;
    width: 900px;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    /* padding-top: 120px;
    padding-left: 20px;
    padding-bottom: 120px; */
}

button{
    appearance: none;
    border: 1px solid #9E70EB;
    color: #9E70EB;
    background-color: transparent;
    border-radius: 10rem;
    padding: .75rem 1.5rem;
    cursor: pointer;
    
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2937;
    height: 100px;
    text-align: center;
    font-size: 18px;
}

.links{
    display: flex;
    gap: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3rem;
}

nav ul a {
    text-decoration: none;
    color: #A1A2A3;
    display: inline-block;
    padding: 1.5rem 0;
}

nav ul a:hover {
    color: #E8E8E8;
}

.has-submenu {
    position: relative;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
}

.has-submenu ul {
    position: absolute;
    top: 100%;
    left: -2rem;
    background-color: #212224;
    border-radius: .5rem;
    padding: .5rem;
    display: none;
}

.has-submenu ul a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-width: 15rem;
    border-radius: .5rem;
}

.has-submenu::after {
    content: url('icons/icon-arrow-down.svg');
    opacity: .6;
    height: 25px;
}

.has-submenu:hover ul {
    display: block;
}

.has-submenu ul a::after {
    content: url(icons/icon-arrow-right.svg);
    height: 17px;
    opacity: 0;
}

.has-submenu ul a:hover {
    background-color: #2C2D2F;
    padding: 1rem 1.5rem;
}

.has-submenu ul a:hover::after {
    opacity: 1;
}

.has-submenu:hover::after {
    opacity: 1;
}

.has-submenu:hover > a {
    color: #E8E8E8;
}

.has-submenu::after{
    transition-property: opacity;
}

.has-submenu ul{
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-1rem);
    transition-property: opacity,visibility,transform;
}

.has-submenu:hover ul{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.has-submenu ul a{
    transition-property: background-color,padding;
}

.has-submenu ul a ::after{
    transition-property: opacity;
}

nav ul a,
		.has-submenu::after,
		.has-submenu ul,
		.has-submenu ul a,
		.has-submenu ul a ::after{
			transition-duration: var(--def-transition-duration);
			transition-timing-function: ease-in-out;
		}


.subheader-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-below{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.quote{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    width: 800px;
    margin: 8px;
}

.call-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.specific{
    border: solid white 2px;
}




/* New figure stuff */

figure {
    margin: 0;
    width: 300px;
    height: 400px;
    position: relative;
    /* border: solid 2px blue; */
    border-radius: 30%;
}

.airpods .hoz-airpods figure{
    height: 200px;
    width: 150px;
}

figcaption {
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    border-radius: 5%;
    width: 300px;
    height: 400px;
}

figcaption main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

figure p {
    margin: 0;
}

figure footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure footer img {
    width: auto;
}

figure main,
figure footer {
    opacity: 0;
}

figure:hover figcaption {
    /* background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%); */
}

figure:hover main,
figure:hover footer {
    opacity: 1;
}